
body {
    background: url(https://www.faarmembers.com/wp-content/uploads/2019/01/trivia-background.jpg);
    background-size:      auto;                      
    background-repeat:   no-repeat;
    background-position: center; 
  }
.sign-in {
    /* Size and position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;

    /* Font styles */
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.sign-in h1 {
    font-size: 50px;
    padding-bottom: 10px;
    color: #4e3043;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;

}
.sign-in h2 {
    font-size: 20px;
    padding-bottom: 5px;
    color: #4e3043;
    text-align: center;
    font-family: 'Luckiest Guy';

}
.sign-in input[type=text],
.sign-in input[type=password] {
    /* Size and position */
    width: 95%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 0px;
    color: black;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: whitesmoke;
    border-radius: 2px;
    opacity: 75%;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    color: black;
    font-size: 13px;;
}
.sign-in input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.sign-in input:-moz-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
    font-family: 'Luckiest Guy';
}

.sign-in input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
    font-family: 'Luckiest Guy';
}
.sign-in input[type=text]:hover,
.sign-in input[type=password]:hover {
    border-color: #333;
    font-family: 'Luckiest Guy';
    font-size: 15px;
    width: 95%;
}

.sign-in input[type=text]:focus,
.sign-in input[type=password]:focus,
.sign-in input[type=submit]:focus {
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
    font-family: 'Luckiest Guy';
    font-size: 15px;
    width: 95%;
}

/* Fallback */
.no-boxshadow .sign-in input[type=text]:focus,
.no-boxshadow .sign-in input[type=password]:focus {
    outline: 1px solid white;
}
.sign-in input[type=submit] {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;
    
    /* Styles */
    background: linear-gradient(rgba(99, 88, 64, 0.797), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: 
    	inset 0 1px rgba(255,255,255,0.4), 
    	0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Luckiest Guy', cursive;
}

.sign-in input[type=submit]:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
    font-weight: bolder;
    font-size: 23px;
}

/* Fallback */
.no-boxshadow .sign-in input[type=submit]:hover {
    background: #594642;
    font-weight: bolder;
    font-size: 20px;
}
.sign-in label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

.sign-in label:hover ~ input {
    border-color: #333;
}

.no-placeholder .sign-in label {
    display: block;
}

.sign-up {
    text-align: center;
}

#first-time {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #4e3043;
    font-size: 20px;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.sign-up input[type=submit] {
    /* Size and position */
    width: 23%;
    padding: 8px 5px;
    
    /* Styles */
    background: linear-gradient(rgba(27, 202, 11, 0.5), rgba(102, 226, 30, 0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: 
    	inset 0 1px rgba(255,255,255,0.4), 
    	0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-family: 'Luckiest Guy';
}
.sign-up input[type=submit]:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
    font-weight: bolder;
    font-size: 20px;
}

/* Fallback */
.no-boxshadow .sign-up input[type=submit]:hover {
    background: #594642;
}
.sign-up label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

.sign-up label:hover ~ input {
    border-color: #333;
}

.no-placeholder .sign-in label {
    display: block;
}


