body {
    background: url(https://www.faarmembers.com/wp-content/uploads/2019/01/trivia-background.jpg);
    background-size:      auto;                      
    background-repeat:   no-repeat;
    background-position: top; 
}  

.sign-up-form {
    width: 500px;
    padding: 20px;
    text-align: center;
    position: absolute;
    background: url(https://ae01.alicdn.com/kf/HTB1.N60SXXXXXcRXpXXq6xXFXXXK/10x10FT-Dark-Orange-Chocolate-Wooden-Wall-Wood-Props-Custom-Backgrounds-Photography-Studio-Backdrops-Digital-Prints-Vinyl.jpg_640x640q70.jpg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    box-shadow: 0 10px 2px rgba(0,0,0,0.3);
  }

  .sign-up-form h1 {
      color: rgb(255, 255, 255);
      font-size: 45px;
      font-family: 'Luckiest Guy', cursive;
      text-decoration: none;
      text-shadow: 0 8px 2px rgba(0,0,0,0.3);

  }

  .sign-up-form input,
  .sign-up-form select  {
      display: block;
      width: 100%;
      padding: 0 16px;
      height: 44px;
      color: black;
      font-size: 13px;
      box-sizing: border-box;
      font-family: 'Luckiest Guy', cursive;
      box-shadow: 0 10px 2px rgba(0,0,0,0.3);
  }

  #entrybox:hover {
    font-size: 14px;
  }

  .txtb{
    margin: 20px 0;
    border-radius: 6px;
  }

  input[type=text] {
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 12px;
  }

  input[type=text]:hover {
    font-size: 14px;
  }

  .signup-btn{
    margin-top: 60px;
    margin-bottom: 20px;
    background: rgba(102, 226, 30, 0.7);
    color: black;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
    text-align: center;
    font-family: 'Luckiest Guy';
    box-shadow: 0 10px 2px rgba(0,0,0,0.3);
  }
  .signup-btn:hover{
    transform: scale(1.05);
    font-family: 'Luckiest Guy';
  }
  .sign-up-form :hover{
    /* background: rgba(185, 182, 182, 0.3); */
      background: rgb(227, 222, 222);
  }
  .sign-up-form h1:hover {
      background: none;
  }

  #signupbutton:hover {
    background: rgba(102, 226, 30, 0.7);
    font-size: 25px;
  }

  #signupbutton {
    font-size: 20px;
  }